sudo: required

# Make "docker" available to the build environment so that we can use it to
# build docker images, etc.
services:
  - docker

env:
  matrix:
    - DOCKERFILE_DIR=texlive
      DOCKERFILE_TAG=listx/texlive:2016
    - DOCKERFILE_DIR=texlive-with-fonts
      DOCKERFILE_TAG=listx/texlive:2016-fonts

before_script:
  - docker version

script:
  - ./build.sh

after_success:
  - docker images
